*{
    padding: 0;
    margin: 0;
}
body{
    background-color: antiquewhite;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
}
nav ul li{
    padding:10px;
}
.navbar img{
    height: 50px;
    vertical-align: middle;
}

.time{
   padding-left: 70%;
}

.container{  
    border-radius: 8px;
    min-height: 72vh;
    margin: 25px auto;
    background-color: black;
    color: white;
    display: flex;
    width: 75%;
    background-image: url('bg.jpg');
}
.container h1{
    margin: 20px 3px;
}
.songItems{
    margin: 10px 5px;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
}
.songItems img{
    border-radius: 100%;
    height: 30px;
}
.space{
    padding: 2px 40px;
}
.time i{
    cursor: pointer;
}


.bottom{
    bottom: 0px;
    position:sticky;
    height: 60px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 25px;
    list-style: none;
    text-align: center;
}
#myProgressBar{
    cursor: pointer;
}
.bottom li i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10px;
    top: 50px
}
.songInfo img{
  width: 80px;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}